.header__square-pic {
  position: relative;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 900px) {
  .header__square-pic {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .header__square-pic {
    display: block;
    width: 355px;
    margin: -5px 0 0 -29px;
  }
}
