.slideshow-container__next {
  margin: 0 auto;
  padding: 0;
  cursor: pointer;
  width: 48px;
  color: white;
  font-size: 18px;
  transition: 0.6s ease;
  text-decoration: none;
  border: none;
}

.slideshow-container__next:hover {
  opacity: 0.7;
}


