.club-bonus__subtitle {
  margin: 0;
  margin-bottom: -160px;
  max-width: 442px;
  font-family: YS Text;
  font-size: 24px;
  font-weight: 500;
  line-height: 28.8px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 500px) {
  .club-bonus__subtitle {
    font-size: 16px;
    line-height: 19px;
  }
}
