.club-bonus__pic_coffee {
  position: absolute;
  max-width: min-content;
  right: -270px;
  bottom: -130px;
}

@media screen and (max-width: 900px) {
  .club-bonus__pic_coffee {
    display: none;
  }
}
