.header__around {
  margin: 0;
  position: absolute;
  width: 208px;
  bottom: 210px;
  left: 90px;

}

@keyframes rotation {
  from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.rotation {
  animation: rotation 20s linear infinite;
}

@media screen and (max-width: 500px) {
  .header__around {
    padding: 0;
    width: 85px;
    left: 102px;
    bottom: 75px;
  }
}

