.footer__text {
  color: #c5c5c5;
  font-family: YS Text;
  font-size: 13px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
}

a {
  text-decoration: none;
  border-bottom: 1px solid #c5c5c5;
  color: #c5c5c5;
  font-family: YS Text;
  font-size: 13px;
  font-weight: 700;
  line-height: 15.6px;
  letter-spacing: 0px;
  text-align: left;
}

@media screen and (max-width: 400px) {
  .footer__text {
    font-size: 10px;
    line-height: 12px;
  }
  a {
    font-size: 10px;
    line-height: 12px;
  }
}
