.exclusive__title {
  margin: 119px 0 38px;
  padding: 0;
  max-width: 827px;
  font-family: YS Text;
  font-size: 48px;
  font-weight: 900;
  line-height: 48px;
  letter-spacing: -0.02em;
  text-align: left;
}
