.header__button_fix {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__button_fix {
    display: block;
    position: fixed;
    margin: 0 32px;
    top: 85%;
    max-width: 100%;
    padding: 14px 0px 14px 0px;
    border-radius: 36px;
    gap: 4px;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0em;
    z-index: 3;
  }
}
