.header__button_fix {
  display: none;
}

@media screen and (max-width: 900px) {
  .header__button_fix {
    display: block;
    position: fixed;
    margin: 0 32px;
    top: 85%;
    max-width: 100%;
  }
}
