.slideshow-container {
  position: static;
  margin: 0 auto 110px;
  padding: 0;
  min-width: 343px;
  display: none;
}

@media screen and (max-width: 900px) {
  .slideshow-container {
    display: block;
  }
}
