.slideshow-container {
  box-sizing: border-box;
  position: relative;
  margin: 0 auto;
  min-width: 343px;
  display: none;
}

@media screen and (max-width: 900px) {
  .slideshow-container {
    display: block;
  }
}
