.techniques__image {
  margin: 0;
  padding: 0;
  width: 475px;
  position: relative;
}


@media screen and (max-width: 900px) {
  .techniques__image {
    position: inherit;
  }
}

@media screen and (max-width: 900px) {
  .none {
    display: none;
  }
}
